.player-infos {
	float: right;
	padding-top: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(../Images/background.gif);
  width: 200px;
  height: 100vh;

  z-index: 91238;
}
