<div class="container-flex m-4">
	<h1>Characters</h1><hr/>

	<div class="row">
		<div class="col-md-2">
			<ul class="list-group">
				<% @characters.each do |char| %>
					<a href="/characters/play/<%= char.id %>">
						<li class="list-group-item">
							<%= "#{char.name} | Lvl. #{char.level}" %>
						</li>
					</a>
				<% end %>
			</ul>
		</div>
	</div>
	<br/>

	<%= link_to 'Criar um personagem', '/characters/new', class: 'btn btn-success' %>
</div>
