<h1>Editing item</h1>

<%= render "form", item_template: @item_template %>

<br>

<div>
  <%= link_to "Show this item", @item_template %> |
  <%= link_to "Back to items", item_templates_path %>
</div>
