.tiles-editor {
	background-color: #EEE;
	height: 100vh;
	width: 200px;
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	padding: 5px;
	overflow-y: auto;

	.title {
		text-align: center;
		padding: 3px;
		border: 1px solid brown;
	}

	.tile-types {

		ul {
			list-style-type: none;
			max-height: 300px;
			overflow-y: auto;
			border: 1px solid black;
			padding: 5px;

			li {
				width: 32px;
				height: 32px;
				background-image: url('bundles/GameJS/Client/resources/sprites.png');

				float: left;
				margin-right: 2px;
				margin-top: 2px;
			}
		}
	}
}
